* {
    font-family: "Spoqa Han Sans Neo";
    font-style: normal;
}

.NextBtn {
    border: none;
    width: 153px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #5686E1;
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
}

.btnTitle {
    padding-left: 5px;
}

.BtnImg {
    padding: 0 0 0 5px;
}