* {
    margin: 0;
    padding: 0;
    font-family: "Spoqa Han Sans Neo";
    font-style: normal;
}

.introduceContainer {
    width: 600px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Logo {
    width: 131px;
    margin-bottom: 32px;
}

.MainText {
    font-size: 58px;
    font-weight: 600;
    padding-bottom: 18px;
}

.SubText {
    font-size: 28px;
    font-weight: 400;
}

.NextBtnOne {
    position: relative;
    top: 100px;
    left: 450px;
    border: none;
    width: 153px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #5686E1;
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
}

.NextBtnOne:focus {
    outline: none;
}

.btnTitle {
    font-style: normal;
    font-weight: 500;
    padding-left: 5px;
}

.BtnImg {
    padding: 0 0 0 5px;
}